* {
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

h4{
    padding: 5px;
    margin-left: 200px;
    font-weight: bold;
    font-size: 40px;
}

label{
    font-size: 20px;
}

#list{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px; 
}

.item{
    display: flex;
    width: 50%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border: groove;
}

.item > input[type='checkbox'] {
    width: 15px;
    height: 15px;   
}

.item > input[type='button']{
    color:white;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
   
}

.item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
   
}

.new-item > input{
    border: ridge;
    width: 50%;
    margin-left: 15px;
    background-color: rgb(247, 167, 236);
    font-size: 20px;
}

.new-item > input::placeholder {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: gray;
}


